
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>ListViewサンプル</title>
</head>

<body>

    <form action="" method="get">
        <input name="query" value="{{ request.GET.query }}" type="text">
        <button type="submit">検索する</button>
    </form>

    <table border="1">
        <tr>
            <th>title</th>
            <th>memo</th>
        </tr>
        {% for book in object_list %}
        <tr>
            <td>{{ book.title }}</td>
            <td>{{ book.memo }}</td>
        </tr>
        {% endfor %}
 
    </table>

</body>

</html>
